@media (max-width: 610px) {
    .hotels {
        justify-content: center;

        &__item {
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 560px) {
    .header__logo {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .header__logo {
        font-size: 16px;
    }
}

@media (max-width: 445px) {
    .header__logo {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width: 350px) {
    .header__logo {
        font-size: 10px;
    }
}