body {
  font-family: "Poppins";
  background-color: #fcfcfc;
}

button {
  border: none;
  background: none;
  padding: 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 45px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 92px;
  width: 100%;
  border-bottom: 1px solid #22222240;
}
.header__logo {
  display: flex;
  justify-content: flex-start;
  color: #FF385C;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
}
.header__btns-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
  max-width: 150px;
  width: 100%;
}
.header__lang-btn {
  display: flex;
}
.header__user-field {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100px;
  width: 100%;
  height: 55px;
  box-shadow: 0px 0px 2px rgba(34, 34, 34, 0.25);
  border-radius: 30px;
}
.header__dote-btn {
  display: flex;
}
.header__user-btn {
  display: flex;
}

.hotel-detail__images {
  margin-top: 55px;
}
.hotel-detail__images img {
  height: auto;
  width: 100%;
  max-width: 1181px;
}

.about {
  display: flex;
  justify-content: space-between;
}
.about__title {
  margin: 0;
  margin-top: 72px;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
}
.about__line {
  max-width: 727px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 45px;
  border: 1px solid #E6E6E6;
}
.about__features {
  max-width: 742px;
}
.about__merits {
  display: flex;
  align-items: flex-start;
}
.about__merits img {
  display: flex;
}
.about__merits:not(:first-child) {
  margin-top: 30px;
}
.about__text-block {
  display: flex;
  flex-direction: column;
  margin-left: 19px;
}
.about__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.about__subtext {
  margin-top: 5px;
  max-width: 703px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.about__deadline {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 727px;
  width: 100%;
  height: 70px;
  box-shadow: 0px 0px 2px rgba(43, 43, 43, 0.35);
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 387px;
  height: 525px;
  width: 100%;
  margin-top: 72px;
  margin-left: 53px;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  box-shadow: 0px 0px 35px rgba(155, 155, 155, 0.15);
  border-radius: 15px;
}
.field__header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 337px;
  width: 100%;
  padding: 30px 25px 0 25px;
}
.field__big-font {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
}
.field__rating {
  display: flex;
  justify-content: space-between;
  max-width: 156px;
  width: 100%;
}
.field__estimation {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}
.field__estimation img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.field__reviews {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-decoration: underline;
}
.field__description {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.dates {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 337px;
  width: 100%;
  margin-top: 33px;
}
.dates__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dates__input {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #d1d7e8;
}

.btn {
  max-width: 337px;
  width: 100%;
  padding: 19px 0px 19px 0px;
  margin-top: 80px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  background: #FF385C;
  border-radius: 8px;
}

.info-price {
  max-width: 337px;
  width: 100%;
}
.info-price__item {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}
.info-price__line {
  max-width: 337px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #E6E6E6;
}
.info-price__total {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.offers {
  margin-top: 60px;
  margin-bottom: 145px;
}
.offers__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
}
.offers__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.offers__advantages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 31px;
  max-width: 810px;
  width: 100%;
}
.offers__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.offers__icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.offers__icon img {
  margin-right: 18px;
}
.offers__two-elements {
  max-width: 470px;
  width: 100%;
}
.offers__three-elements {
  max-width: 810px;
  width: 100%;
  margin-top: 38px;
}
.offers__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  max-width: 250px;
  width: 100%;
  margin-left: 20px;
  border: 1px solid #3E3E3E;
  border-radius: 12px;
}

/*# sourceMappingURL=styledetail.css.map */
